@import "https://raininsnovv.github.io/wb_L-0_task/styles/header.css";
@import "https://raininsnovv.github.io/wb_L-0_task/styles/global-styles.css";
@import "https://raininsnovv.github.io/wb_L-0_task/styles/cartItems.css";
@import "https://raininsnovv.github.io/wb_L-0_task/styles/totalCart.css";
@import "https://raininsnovv.github.io/wb_L-0_task/styles/missingItems.css";
@import "https://raininsnovv.github.io/wb_L-0_task/styles/wayToGet.css";
@import "https://raininsnovv.github.io/wb_L-0_task/styles/userData.css";
@import "https://raininsnovv.github.io/wb_L-0_task/styles/footer.css";
@import "https://raininsnovv.github.io/wb_L-0_task/styles/hover-modal.css";
@import "https://raininsnovv.github.io/wb_L-0_task/styles/modal.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

body {
  background-color: #6725a8;

}

main {
  border-radius: 25px;
  background-color: #f6f6fa;
 padding-bottom: 5px;
  
}

@media screen and (max-width: 800px) {
  .flex-wrapper {
    display: block;
  }
}
